.buttonsContiner{
    display: flex; 
    justify-content:center;
    /* background-color: purple; */
    flex-wrap: wrap;
    border-radius: 50px;

}
.accept{
    margin:10px;
    background-color: green;
    border-radius: 10px;
    width: 50px;
}
.accept:hover{
    background-color: rgb(73, 219, 73);
    cursor:pointer;
}
.reject{
    margin:10px;
    background-color: red;
    border-radius: 10px;
    width: 50px;
}
.reject:hover{
    background-color: rgb(136, 9, 9);
    cursor:pointer;
}