/* Estilos generales */
.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divIntermedio {
  max-width: 600px;
  padding: 20px;
  background-color: #ff0000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.divInterno {
  /* width: 100%;
  background-color: red; */
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
font-size: 1rem;
}

.formGroup {
  margin-bottom: 10px;
  /* background-color: red; */
}

.formGroup label {
  display: block;
  /* text-align: center; */
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
  background-color: purple;
}
.formLabelCheckbox {
/* background-color: #fff; */
}
.formGroup {
  /* background-color: #fff; */
}
.form-check-label {
  background-color: yellow;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.btnSecondary {
  width: 100%;
  padding: 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btnSecondary:hover {
  background-color: #5a6268;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .loginForm {
    padding: 15px;
  }

  .formGroup input {
    padding: 8px;
  }

  .btn,
  .btnSecondary {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .loginForm {
    padding: 10px;
  }

  .formGroup input {
    padding: 6px;
  }

  .btn,
  .btnSecondary {
    padding: 6px;
  }
}
