.title {
     font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
  }

.containerForm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}
.register_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;  
  max-width: 500px;  
  padding: 30px;
  background-color: #f8f8f8; 
  border: 1px solid #ddd;  
  border-radius: 8px;      
}

.divIntermedio {
  padding: 0; 
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logoContainer img {
  max-width: 200px;
}

.formGroup {
  /* margin-bottom: 20px; */
}

.formGroup label {
  display: block;
  font-weight: bold;
}

.formGroup input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 15px;
}

.divCheckbox {
  display: flex;
  align-items: center;
}

.checkbox {
}

.btn, .btn_secondary {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Primary Button */
.btn {
  background-color: #007bff; 
}
.btn:hover {
  background-color: #0069d9; 
}

/* Secondary Button */
.btn_secondary {
  background-color: #6c757d; 
}
.btn_secondary:hover {
  background-color: #5a6268; 
}
.buttonsContainer{
  display: flex;
  justify-content:center;
  margin-top: 20px;
  gap: 20px;
}

