/* Estilos generales */
.register_form {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  height: 100%;
}
.divIntermedio {
  /* max-width: 600px; */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divInterno {
  
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 10px;
  /* background-color: red; */
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  /* background-color: purple; */
}

.formGroup input {
  background-color: rgb(167, 167, 167);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.divCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  /* background-color: orange; */
}

.checkbox {
  /* margin-right: 10px; */
  /* background-color: orange; */
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn_secondary {
  width: 100%;
  padding: 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn_secondary:hover {
  background-color: #5a6268;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .register_form {
    padding: 15px;
  }

  .formGroup input {
    padding: 8px;
  }

  .btn, .btn_secondary {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .register_form {
    padding: 10px;
  }

  .formGroup input {
    padding: 6px;
  }

  .btn, .btn_secondary {
    padding: 6px;
  }
}
